In [1]:
def euron_course(course,mentor,price):
    print(course,mentor, price)

In [3]:
class euron:
    pass

In [ ]:
class euron_course:
    
    def __init__(self,course_name, course_mentor, course_price):
        self.course_name= course_name
        self.course_mentor = course_mentor
        self.course_price = course_price
e1 = euron_course("pyhthon","chitranjan", 2000)
e1.course_price

e2= euron_course("data anlaysis","kavit",40000)

In [ ]:
class euron_course:
    
    def __init__(self,course_name, course_mentor, course_price):
        self.course_name= course_name
        self.course_mentor = course_mentor
        self.course_price = course_price

In [14]:
Pro_course1= euron_course("python", "omcharvi",3000)
pro_course2=euron_course("java", "kavita",4000)
pro_course3= euron_course("big data","kaushal",5000)

In [16]:
Pro_course1.course_name

'python'

In [ ]:
pro_course3= euron_course("big data","kaushal",5000)
pro_course3

In [18]:
def euron_course (course, mentor, price):
    print (course, mentor, price)

In [21]:
class euron:
    pass

In [28]:
class euron_course:
    def __init__(self,course_name, course_mentor, course_price):
        self.course_name= course_name
        self.course_mentor= course_mentor
        self.course_price = course_price

e1 = euron_course("python", "chitranjan", 2000)
e1.course_price

e2= euron_course= ("data anaylysis","omcharvi", 9070)

In [32]:
pro_course= euron_course ("english","omcharvi",6000)
pro_course = euron_course("java", "kavita", 9800)
pro_course = euron_course ("big data","harshit", 8000)

TypeError: 'tuple' object is not callable

In [ ]:
class euron :

     def __init__(self, course_name, course_mentor, course_price):
        self.course_name= course_name
        self.course_mentor= course_mentor
        self.course_price = course_price

class euron_course(euron):
    
    |

SyntaxError: invalid syntax (1602469946.py, line 8)

In [2]:

def decorator_custome (func):
@decorator_custome
def add(a,b):
    c=a+b
    return c

IndentationError: expected an indented block after function definition on line 1 (1357154289.py, line 2)