In [2]:
l=[4,4,4,6,7,2,8,9]
for i in l :
    print (i)

4
4
4
6
7
2
8
9

In [3]:
l

[4, 4, 4, 6, 7, 2, 8, 9]

In [4]:
for i in l :
    print (i+1)

5
5
5
7
8
3
9
10

In [5]:
for i in l:
    print (i**2)

16
16
16
36
49
4
64
81

In [6]:
l

[4, 4, 4, 6, 7, 2, 8, 9]

In [7]:
w="chitranjan"
for i in w :
    print (i)

c
h
i
t
r
a
n
j
a
n

In [8]:
might ={3,6,4,5,5,6,7,9,1,4,6,3,3,6,0,}
for i in might :
    print (i)

0
1
3
4
5
6
7
9

In [14]:
dit={"name:dictionary", "mentor: chitranjan", "city:bng"}

In [15]:
dit={"name":"chitranjan", "city":"bng", "code":"raffel"}

In [24]:
for i in dit.keys():
    print (i)

name
city
code

In [17]:
dit.values()

dict_values(['chitranjan', 'bng', 'raffel'])

In [22]:
for i in dit.values() :
    print (i)

chitranjan
bng
raffel

In [26]:
for i in dit.items():
    print (i)

('name', 'chitranjan')
('city', 'bng')
('code', 'raffel')

In [27]:
for i,j in dit.items():
    print (i,j)

name chitranjan
city bng
code raffel

In [28]:
l=['euron',4,55,6,33,4,4,5,67.78, True, "omcharvi", False, 6+8j]

In [32]:
for i in l :
    if type(i)==str :
        print (i)

euron
omcharvi

In [ ]:
l=['euron',4,55,6,33,4,4,5,67.78, True, "omcharvi", False, 6+8j]

In [43]:
l

['euron', 4, 55, 6, 33, 4, 4, 5, 67.78, True, 'omcharvi', False, (6+8j)]

In [44]:
l_str =[]
l_int =[]
l_float= []
l_bool=[]
l_extra = []
for i in l:
    if type (i)==str:
        l_str.append(i)
    elif type(i)== int:
        l_int.append(i)
    elif type(i)==float :
        l_float.append(i)
    elif type (i)==bool :
        l_bool.append (i)
    else:
        l_extra.append (i)

In [46]:
l_str

[]

In [47]:
list = [4,4,5,6,3,4,7,"omcharavi", True, False, 67.7j, "dhani"]

In [48]:
list

[4, 4, 5, 6, 3, 4, 7, 'omcharavi', True, False, 67.7j, 'dhani']

In [49]:
for i in list :
    print (i)

4
4
5
6
3
4
7
omcharavi
True
False
67.7j
dhani

In [63]:
list_str=[]
list_int=[]
list_bool=[]
list_float=[]
list_extra=[]
for i in list :
    if type(i)==str:
        list_str.append(i)
    elif type (i)== int:
        list_int.append (i)
    elif type(i)==bool:
        list_bool.append(i)
    elif type(i)==float :
        list_float.append (i)
    else:
        list_extra.append(i)

In [64]:
list_str

[]

In [65]:
range (5)

range(0, 5)

In [69]:
list(range(5))

TypeError: 'range' object is not callable

In [70]:
range(5)

range(0, 5)

In [72]:
list(range(1,5))

TypeError: 'range' object is not callable

In [73]:
row =5
for i in range (i,row+1):
    print ("*"*i)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
Write a program to find the sum of digits of a given number using a while loop.

In [77]:
n=int(input("enter a namber"))
tot =0
while (n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
print ("the total sum of digit is:",tot)

the total sum of digit is: 26

In [ ]:
Create a program that uses a while loop to reverse a number.

In [87]:
n= 12345678
rev=0
while n>0:
    digit= n % 10 
    dig=rev*10+digit
    n//=10 
    print(rev)

0
0
0
0
0
0
0
0

In [93]:
n1=1234
rev=0
while n1>0:
    digit =n1%10
    rev=rev*10+digit
    n1//=10
    print(rev)

4
43
432
4321

In [ ]:
Write a while loop program to find the largest digit in a number.

In [106]:
n=int(input("enter a number"))
largest_digit=0
while n>0:
     digit =n % 10
     if digit >largest_digit:
          largest_digit=digit
     n=n//10
print ("the largest digit is :", largest_digit)

the largest digit is : 9

In [ ]:
Use a while loop to print all even numbers from 1 to n.

In [110]:
n= int(input("enter a numner"))
i=2
while i <=2:
    print (i)
    i+=2

2

In [114]:
import random
num = random.randint (1,100)
guess = 0   
while guess != num: 
    guess= int(input("enter a number:"))
    if guess < num:
        print ("Too low!")
    elif guess > num:
        print("Too high!")
    else:
        print(f"Correct! The number was {num}")

Too high!
Too high!
Too high!
Too high!
Too high!

ValueError: invalid literal for int() with base 10: ''

In [ ]:
Write a program using a for loop to print the multiplication table of a given number.

In [118]:
table =10
if i in range(1, 11):
    print (f'{table} x {i}= {table*i}')

10 x 4= 40

In [ ]:
Create a program using a for loop to print all numbers divisible by 3 and 5 between 1 and n.

In [123]:
num=int(input("enter a number :"))
for i in range(1,num+1):
    if i % 3==0 and i % 5==0 :
        print (i, end =" ")

15 30